.div {
            background: linear-gradient(seagreen);
            color: blue;
            padding: 50px;
            border-radius: 50px;
            
        }
        .div .img {
            width: 100px;
            background: linear-gradient(blue , black);
            padding: 5px linear-gradient(blue , black);
        }
        .div .h1 {
            color: blueviolet;
            background: linear-gradient(black, green);
            justify-content: center;
            align-content: center;
            padding: 20px;
            border: 0.1pc;
            border-radius: 20px;
            box-sizing: 5px;
            font-size: xx-large;
            font-weight: 900;
            font-family: fantasy;
        }
        .div .a {
            text-decoration: none;
            color: blue;
            padding: 20px;
            border-radius: 20px;
            font-size: x-large;
            font-weight: 300;
            font-family: fantasy;
            background-color:seagreen;
        }
        .div .a:hover {
            text-decoration: black;
            padding: 30px;
            border-radius: 30px;
            font-size: xx-large;
            font-weight: 320;
            font-family: cursive;
            background-color: black;

        }